@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gochi+Hand&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Satisfy&display=swap');

:root {
    --pink: #ec1d5b;
    --blue: #23b2c0;
    --white: #eee;
    --black: #222;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Satisfy, Cursive;
}

html {
    font-size: 62.5%;

    body {
        font-size: 1.6rem;
    }
}

.external-blue {
    color: #00b;
}

.tiktok {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: var(--black);
    color: var(--white);
    font-size: 4.8rem;
    font-weight: 400;
    text-shadow: 2px 2px var(--pink), -2px -2px var(--blue);
}